name: Project 3 - Optimized Production Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip' # <--- MAGIC LINE: This enables caching!

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Tests
        # Since we are starting fresh, create a tiny test_app.py or skip this run
        run: echo "No tests yet, but environment is ready!"

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Optimized Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Change this to your DockerHub repo name
          tags: 183shubham/flask-prod:latest
