name: Docker CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # This adds a manual "Run" button just in case!

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: ./Calculator_App_2025
        push: true
        # Verified: 183shubham is your Docker Hub name
        tags: 183shubham/flask-calculator:latest
